{% extends 'layout.html' %}
{% block title %}ERROR 404{% endblock %}
{% block body %}
<div class="container-fluid text-center" style="margin-top: 1.5%;">
  <h1>
    <b>
      {{ error }}
    </b>
  </h1>
</div>
<div class="container" style="background-image: url('/static/images/error.jpg');background-repeat: no-repeat;background-position: center;height:500px"></div>
<br>
<div class="container-fluid text-center">
  <p>Fear not, Link remembered to save</p>
</div>
<br>
<br>
{% endblock %}
