{% extends 'layout.html' %}
{% block title %}Index{% endblock %}
{% block body %}
<div class="container-fluid text-center" style="margin-top: 1.5%;">
  <h1>NEC Tender</h1>
  <p>
    Please note that if an item does not have an item number, enter 0 for the item #.
  </p>
  <form method="POST" class="text-center">
    <label style="margin-top: 1.5%;">Name: </label>
    <input type="text" style="width: 50%;" name="name" required />
    <br>
    <label style="margin-top: 1.5%;">Phone: </label>
    <input type="tel" style="width: 50%;" name="phone" required />
    <br>
    <br>
    <div class="items">
      <div id="0">
        <label style="margin-top: 1.5%;">Item #: </label>
        <input type="number" step="1" min="0" max="999999" style="width: 10%;" name="item_number" required />
        <label style="margin-top: 1.5%;">Description: </label>
        <input type="text" style="width: 30%;" name="description" required />
        <label style="margin-top: 1.5%;">Bid $: </label>
        <input type="number" step="0.01" min="1" max="999999" style="width: 10%;" name="bid" required />
      </div>
    </div>
    <br>
    <br>
    <button onclick="call_alert()" class="btn-secondary" type="submit">Submit</button>
  </form>
  <br>
  <button onclick="append_row()">Add Line</button>
  <br>
  <br>
</div>
<script src="/static/js/index.js"></script>
{% endblock %}
